<!DOCTYPE html>
<html>
<head>
  <title>Html5upStrata</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
	<body id="top">

		<!-- Header -->
			<header id="header">
				<a href="#" class="image avatar"><img src="/assets/avatar.jpg" alt="" /></a>
				<h1><strong>I am Strata</strong>, a super simple<br />
				responsive site template freebie<br />
				crafted by <a href="http://html5up.net">HTML5 UP</a>.</h1>
			</header>
			<%= yield %>
		
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</footer>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	</body>
</html>
